*.iml
.gradle/
/local.properties
/.idea/*
!/.idea/encodings.xml
build/*
.DS_Store
/build
/captures
.externalNativeBuild
.classpath
.project
.settings/

# Google Service configuration
google-services.json
